.Dropdown {
  position: relative;
  width: 400px;
  padding: 20px;
  border: 1px solid black;
}
.Dropdown__menu {
  position: absolute;
  top: 102%;
  left: 0;
  width: 89%;
  text-align: center;
  padding: 25px;
  background-color: teal;
  color: white;
}
